@charset  "utf-8";
/* CSS Document */
/* .bc-tf-field {
	visibility: hidden;
}
.bc-tf-field.bc-tfnh-field {
	visibility: visible;
} */


/* Pre header style */


#pre-header-container {
    background-color: #161f31;
}

#pre-header {
    margin: 0 auto;
    max-width: 940px;
}


.pre-header-left {
    float: left;
}


.pre-header-right {
    float: right;
}

.pre-header-right .social-icons {
    margin-top: 11px;
}


#header-container{
background-color: #000000;
}

#top-products-container{
	background-color: #0A7C62 !important;
}

#pre-footer-container{
background-color: #000000 !important;
}

.variation_form_section {
}
.field-group-wrapper {
}
.field-group-inner-wrap {
	background-color: #8e8e8e;
	border-radius: 6px;
	color: #fff;
	-webkit-box-shadow: 0 2px 5px 5px rgba(235,235,235,0.75);
	-moz-box-shadow: 0 2px 5px 5px rgba(235,235,235,0.75);
	box-shadow: 0 2px 5px 5px rgba(235,235,235,0.75);
}
.field-group-inner-wrap.finished {
	background-color: #A5D0C6;
}
.product_totals.finished {
	background-color: #95BCB3;
}
.arrow-down {
	width: 0;
	height: 0;
	margin: auto;
	border-style: solid;
	border-width: 15px 50px 0;
	border-color: #8e8e8e transparent transparent;
	margin-bottom: 10px;
}
.arrow-down.finished {
	border-color: #a5d0c6 transparent transparent;
}
.single_add_to_cart_button {
	padding: 10px;
	font-size: 18px;
}
.product-content .single_add_to_cart_button {
	width: 100%;
}
.ginput_container input[type="text"] {
	padding: 10px;
	border: solid 1px #aaaaaa;
}
.ginput_container input[type="text"]:focus {
	border: solid 1px #707070;
}
.field-group-inner-wrap h2 {
}
.field-group-inner-wrap label {
	font-size: 14px;
}
.gform_wrapper {
	margin: 0;
	max-width: 100% !important;
	box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}
.gform_variation_wrapper  {
	padding-bottom: 56px;
	position: relative;
}
.gfield-hidden {
	display: none;
}
.gfield-status-icon {
	background: url(images/gfield-status-icon.png) no-repeat;
	height: 18px;
	opacity: .25;
	position: absolute;
	right: 0;
	width: 18px;
}
.gfield-status-icon.status_ok {
	opacity: 1;
}
.field-group-1 .gfield-status-icon {
	top: 50%;
	margin-top: -9px;
}
.field-group-2 .gfield-status-icon {
	top: 16px;
}
.field-group-3 .gfield-status-icon {
	top: 40px;
}
.variations td {
	vertical-align: top;
}
.variations .label {
	color: #636761;
    font-weight: 300;
	padding-right: 4%;
	width: 18%;
}
.swatch-wrapper {
	background: transparent;
	float: left;
}
.swatch-label {
	display: none;
}
.swatch-wrapper a {
	transition: none;
}
#picker_pa_filter,
#picker_pa_material {
	margin: 0 0 -10px -10px;
	overflow: hidden;
}
#picker_pa_filter .swatch-wrapper,
#picker_pa_material .swatch-wrapper {
	margin: 0 0 10px 10px;
}
#picker_pa_filter .swatch-wrapper a,
#picker_pa_material .swatch-wrapper a {
	border: 1px solid #d8dfe3;
	border-radius: 2px;
	margin: 1px;
}
#picker_pa_filter .swatch-wrapper a img,
#picker_pa_material .swatch-wrapper a img {
	opacity: .35;
}
#picker_pa_filter .swatch-wrapper a:focus img,
#picker_pa_filter .swatch-wrapper a:hover img,
#picker_pa_material .swatch-wrapper a:focus img,
#picker_pa_material .swatch-wrapper a:hover img {
	opacity: .75;
}
#picker_pa_filter .swatch-wrapper.selected a,
#picker_pa_material .swatch-wrapper.selected a {
	border: 2px solid #69399a;
	margin: 0;
}
#picker_pa_filter .swatch-wrapper.selected a img,
#picker_pa_material .swatch-wrapper.selected a img {
	opacity: 1;
}
.swatch-filters .swatch-filter {
	float: left;
	margin: 0 8px 7px 0;
}
.swatch-filters .swatch-filter a {
	background-color: #f7f7f7;
	color: #636761;
	display: block;
	padding: 10px 16px;
	text-transform: uppercase;
}
.swatch-filters .swatch-filter.selected a {
	background-color: #00c3cd;
	color: #ffffff;
}
#picker_pa_fabric .swatch-wrapper a,
#picker_pa_panel-colours .swatch-wrapper a,
#picker_pa_twin-blinds-colour .swatch-wrapper a,
#picker_pa_vertical-blinds-colour .swatch-wrapper a,
#picker_pa_venetian-colours .swatch-wrapper a,
#picker_pa_roman-blinds-colour .swatch-wrapper a,
#picker_pa_honeycomb-colour .swatch-wrapper a,
#picker_pa_plantation-colour .swatch-wrapper a,
#picker_pa_roller-blinds-colour .swatch-wrapper a {
	display: block;
	overflow: hidden;
	position: relative;
}
#picker_pa_fabric .swatch-wrapper.selected a,
#picker_pa_panel-colours .swatch-wrapper.selected a,
#picker_pa_twin-blinds-colour .swatch-wrapper.selected a,
#picker_pa_vertical-blinds-colour .swatch-wrapper.selected a,
#picker_pa_venetian-colours .swatch-wrapper.selected a,
#picker_pa_roman-blinds-colour .swatch-wrapper.selected a,
#picker_pa_honeycomb-colour .swatch-wrapper.selected a,
#picker_pa_plantation-colour .swatch-wrapper.selected a,
#picker_pa_roller-blinds-colour .swatch-wrapper.selected a {
	border: 2px solid #00c3cd;
	border-radius: 0;
	box-sizing: border-box;
	margin: 0;
	z-index: 5;
}
#picker_pa_fabric .swatch-wrapper img,
#picker_pa_panel-colours .swatch-wrapper img,
#picker_pa_twin-blinds-colour .swatch-wrapper img,
#picker_pa_vertical-blinds-colour .swatch-wrapper img,
#picker_pa_venetian-colours .swatch-wrapper img,
#picker_pa_roman-blinds-colour .swatch-wrapper img,
#picker_pa_honeycomb-colour .swatch-wrapper img,
#picker_pa_plantation-colour .swatch-wrapper img,
#picker_pa_roller-blinds-colour .swatch-wrapper img {
	left: -10%;
	max-width: none;
	position: relative;
	top: -10%;
	width: 120%;
}
.swatch-hidden {
	display: none !important;
}
.swatches-load-more {
	margin: 28px 0 8px 120px;
}
.swatches-load-more-btn {
	background: #efefef;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	color: #000000;
	display: inline-block;
	font-size: 8.98px;
	line-height: 1;
	padding: 6px 10px 8px;
	text-transform: uppercase;
}
.customize-blinds-form_wrapper select {
	border: solid 1px #dcdcdc;
	border-radius: 3px;
	transition: box-shadow 0.3s,border .3s;
}
.reset_variations {
	border: 1px solid;
	border-radius: 3px;
	color: gray;
	float: left;
	font-size: 13px;
	margin-top: 13px;
	padding: 5px;
}
.reset-wrapper {
	float: left;
	width: 100%;
}
.gform_wrapper {
	display: block !important;
}
.product-custom-content {
	margin-top: 23px;
}

.product-custom-content h2{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 27px;
}

.product-custom-content ul{
	list-style-type: disc;
    padding-left: 15px;
}

.specs-list li{
	clear: both;
}


.specs-list li div:nth-child(1){
	float: left;
	width: 59%;
}
.specs-list li div:nth-child(2){
	float: right;
	width: 39%;
}

.quantity {
	display: none;
}
.simple_select_inv {
	display: none;
}
.simple_select {
	margin: 0 -16px -10px 0;
}
.simple_select a {
	background: #d2d4d4;
	box-sizing: border-box;
	color: #726b6b;
	display: block;
	float: left;
	line-height: 1;
	margin: 0 16px 10px 0;
	min-width: 90px;
	padding: 8px 16px 10px;
	text-align: center;
	text-transform: uppercase;
}
.simple_select a:hover {
	background: #14939a;
	color: #fff;
}
.simple_select a.selected {
	background: #00c3cd;
	color: #fff;
}
.radio_image_inv {
	display: none;
}
.radio_image {
	margin: 0 -16px -10px 0;
}
.radio_image a {
	box-sizing: border-box;
	display: block;
	float: left;
	line-height: 1;
	margin: 0 16px 10px 0;
	padding: 4px 4px 8px;
	text-align: center;
	-webkit-transition: none;
	width: 91px;
	-moz-transition: none;
}
.radio_image a .option_image {
	display: block;
	height: 81px;
	overflow: hidden;
	width: 81px;
}
.radio_image a .option_image img {
	display: block;
	height: auto;
	left: -2px;
	margin: 0 auto;
	max-width: 110%;
	position: relative;
	top: -2px;
}
.radio_image a .option_label {
	display: block;
	font-size: 11px;
	margin-top: 4px;
}
.radio_image a .option_radio {
	background: url(images/radio_btn.png) no-repeat;
	display: block;
	height: 18px;
	margin: 6px auto 0;
	width: 18px;
}
.radio_image a.selected {
	border: 1px solid #00c3cd;
	border-radius: 2px;
	padding: 3px 3px 7px;
}
.radio_image a.selected .option_image {
	margin: 0;
}
.radio_image a.selected .option_radio {
	background-position: -18px 0;
}
#add_sample-popup {
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 100;
}
#add_sample-popup .popup-window {
	background: #fff;
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 1.1;
	margin: -215px 0 0 -169px;
	padding: 10px;
	position: relative;
	width: 328px;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(171,171,171,1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(171,171,171,1);
	box-shadow: 0px 0px 20px 5px rgba(171,171,171,1);
}
#add_sample-popup .popup-close {
	font-size: 18px;
	font-weight: bolder;
	position: absolute;
	right: 28px;
	top: 15px;
}
#add_sample-popup .popup-title {
    font-size: 18px;
    font-weight: bolder;
    float: left;
    padding: 5px;
}
#add_sample-popup .popup-description {
	color: #636761;
	font-size: 10px;
	line-height: 1.2;
	margin: 38px 0 0 5px;
	min-height: 1.65em;
}
#add_sample-popup .popup-image {
	height: 306px;
	overflow: hidden;
	width: 306px;
}
#add_sample-popup .popup-image img {
	display: block;
	height: auto;
	margin: -10% 0 0 -10%;
	max-width: 200%;
	min-width: 352px;
}
#add_sample-popup .popup-ajax-result {
	margin: 8px 0 0;
}
#add_sample-popup .popup-ajax-result.result_success {
	color: #0f803e;
}
#add_sample-popup .popup-ajax-result.result_error {
	color: #800f0f;
}
#add_sample-popup .popup-controls {
	margin: 10px 0 0;
}
#add_sample-popup .popup-order-btn,
#add_sample-popup .popup-select-btn {
	color: #fff;
	display: block;
	font-size: 15px;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
}
#add_sample-popup .popup-order-btn {
	background-color: #00c3cd;
	float: left;
}
#add_sample-popup .popup-select-btn {
	background-color: #00c853;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
    font-size: 15px;
}
#add_sample-popup .popup-ajax-loader {
	display: none;
}
#add_sample-popup.ajax_loading .popup-ajax-loader {
	background: #fff url(images/ajax-loader.gif) no-repeat;
	background-position: center center;
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#home-banner {
	margin-bottom: 15px;
}
#home-banner > * {
	z-index: 0;
}
.home-product-wrapper {
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
}
.home-product-title {
	float: left;
	padding: 7px;
	color: #5e5e5e;
}
.customize-button {
	float: right;
	margin-right: 6px;
}
.homepage-wrapper .woocommerce-result-count,.homepage-wrapper .woocommerce-ordering,.homepage-wrapper .add_to_cart_button,.homepage-wrapper .price,.homepage-wrapper .offers-for-woocommerce-make-offer-button-catalog,.homepage-wrapper .product_type_simple {
	display: none;
}
.contact-us-form-div {
	float: left;
	width: 100%;
}
.contact-us-form-div p {
	float: left;
	width: 48%;
}
.contact-us-form-div input {
}
.contact-us-form-div textarea {
}
.contact-us-form-div input[type="submit"] {
	border: 1px solid #e0e0e0;
	color: gray;
	margin-top: 14px;
	padding: 9px 25px;
}
.contact-us-form-div input[type="submit"]:hover {
	color: #FFF;
}
#pre-footer-container {
	background-color: #EEE;
	padding: 13px 0;
}
#pre-footer {
	margin: 0 auto;
	max-width: 940px;
}
.pre-footer-left {
	float: left;
}
.pre-footer-right {
	float: right;
}
.pre-footer-right .social-icons {
	margin-top: 11px;
}
.pf-phone-number {
	background: rgba(0,0,0,0) url(images/phone.png) no-repeat scroll 0 0;
	font-size: 30px;
	font-weight: 500;
	height: 39px;
	padding-left: 53px;
	padding-top: 7px;
	margin-top: 6px;
}
#footer-container {
	background-color: #7e7e7e;
}
#footer h4 {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}
.newsletter-widget {
}
.newsletter-widget input.newsletter-email {
	border: medium none;
	border-radius: 3px;
	color: #6d6d6d;
	width: 97%;
}
.newsletter-widget input.newsletter-submit {
	background-color: #f93942;
	border: medium none;
	color: #fff;
	margin-top: 12px;
	cursor: pointer;
}
.footer-widgets li.column {
	padding-bottom: 3px;
	margin: 0 2% 0 0;
	width: 23%;
}
.footer-widgets li.column li {
	padding-bottom: 3px;
}
.footer-widgets li a {
	font-size: 13px;
}
#footer a {
	color: #dbdbdb;
}
#footer a:hover {
	color: #FFF;
}
.footer-text {
	border-top: 1px solid #dbdbdb;
	color: #dbdbdb;
	font-size: 12px;
}
/* custom cart css */
.cart_table_wrapper {
}
.shop_table {
	width: 100% !important;
}
.cart_table_row {
	border-bottom: 2px solid #e3e3e3;
	float: left;
	padding-bottom: 12px;
	padding-top: 16px;
	width: 100%;
}
.cart_table_row .product-remove {
	float: left;
	margin-top: 8%;
	width: 5%;
}
.cart_table_row .product-remove a {
	color: #5f5f5f !important;
	float: left;
	font-size: 35px;
}
.cart_table_row .product-thumbnail {
	float: left;
	text-align: center;
	width: 180px;
	padding-bottom: 10px;
}
.cart_table_row .product-name {
	float: left;
	width: 70%;
	padding-left: 2%;
}
.cart_table_row .product-price {
}
.cart_table_row .product-subtotal {
	float: left;
	text-align: right;
	width: 70% !important;
	padding-top: 10px;
}
.cart_table_row .product-subtotal .left {
	display: inline-block;
	padding: 0 10px;
	width: 60%;
	text-align: left;
	float: left;
}
.cart_table_row .product-subtotal .right {
	display: inline-block;
	width: 20%;
}
.cart_table_row .product-subtotal span {
	display: inline-block;
	font-size: 19px;
	font-weight: bolder;
}
.cart_table_row .product-name > a {
	color: #5f5f5f;
	display: block;
	font-size: 16px;
}
.cart_table_row .variation {
	margin-top: 5px;
	border-top: 1px solid #c3c3c3;
	padding-top: 5px;
}
.varation-col {
	float: left;
	padding-right: 1%;
	width: 31%;
}
.varation-col p {
	margin-bottom: 3px;
}
.varation-col p span {
	font-weight: 700;
}
.cart_table_row .coupon {
	float: left;
}
.cart_table_row .coupon > label {
	display: none;
}
.cart_table_row > input[name="update_cart"] {
	float: right;
}
.cart-collaterals {
	margin-top: 23px;
}
.cart_totals {
	margin-bottom: 5px;
	padding: 5px;
}
.cart_totals .k-checkout-btn {
	padding: 7px 30px !important;
	font-size: 14px;
	background: #f93942;
	color: #fff;
}
.offers-for-woocommerce-make-offer-button-single-product {
	padding: 10px 30px !important;
	font-size: 14px;
	background: #f93942;
	color: #fff;
}
.ajax-load {
	min-width: 50px;
	height: 35px;
	background: url(images/ajax-loader.gif) no-repeat;
	margin-top: 12px;
	display: none;
	padding-left: 40px;
	padding-top: 6px;
}
/* mail chimp footer newsletter form style */
.indicates-required {
	color: #dbdbdb;
}
.mc-field-group {
}
.mc-field-group label {
	color: #fff;
	font-weight: 400;
}
.mc-field-group input[type="email"],.mc-field-group input[type="text"] {
	color: gray;
}
#mce-responses {
}
#mce-error-response {
}
#mce-success-response {
}
.toggle-content-trigger {
	background-color: #727272;
	border-radius: 3px;
	cursor: pointer;
	padding: 3px 12px;
	display: none;
}
.toggle-content-trigger p {
	background: rgba(0,0,0,0) url(images/arrow-up-down.png) no-repeat scroll right -30px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	height: 26px;
	letter-spacing: 1px;
	padding-top: 4px;
}
.toggle-content-wrapper {
	border: none;
	padding: 0;
	display: block;
}
.toggle-content-trigger.toggle-opened {
	border-radius: 3px 3px 0 0;
}
.toggle-content-trigger.toggle-opened p {
	background: rgba(0,0,0,0) url(images/arrow-up-down.png) no-repeat scroll right 0;
}
.edit_cart_product_selector_wrap {
	display: block;
	position: relative;
}
.edit_cart_product_selector_label {
	color: #888;
	font-size: 15px;
	font-weight: 400;
	left: 200px;
	pointer-events: none;
	position: absolute;
	top: 7px;
	z-index: 5;
}
.product_title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 8px;
}
.product_totals {
	background-color: #fff;
	bottom: 0;
	left: 1px;
	line-height: 1;
	position: absolute;
	right: 1px;
	text-align: center;
	z-index: 25;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
	box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
}
.product_totals li {
	position: relative;
	text-align: center;
}
.product_totals li .gfield_label,
.product_totals li .ginput_container {
	box-sizing: border-box;
	color: #000;
	float: left;
	height: 56px;
	line-height: 28px;
	padding: 14px 10px 10px;
	text-transform: uppercase;
	width: 33.3333%;
}
.product_totals li .gfield_label {
	font-size: 16px;
}
.product_totals li .ginput_container {
	background: #ECECEC;
	font-size: 18px;
}
.product_totals span.ginput_total {
	color: #000 !important;
	font-size: 18px !important;
	font-weight: bold;
	margin: 0 !important;
}
.product_totals .variations_button {
	box-sizing: border-box;
	float: left;
	height: 56px;
	margin: 0 !important;
	width: 33.3333%;
}
.product_totals .single_add_to_cart_button {
    background: #0E8F72;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px !important;
    font-weight: bolder;
    height: 100%;
    text-transform: uppercase;
    border: none;
}

.product_totals .single_add_to_cart_button:hover {
	background: #0A7C62;
}

.gform_wrapper .gsection {
/*	border-left: 1px solid #7b6ba3;
	border-radius: 3px 3px 0 0;
	border-right: 1px solid #aab9c1;
	border-top: 1px solid #9498b3;*/
	font-size: 18.2px;
	font-weight: 300;
	overflow: hidden;
}
.gform_wrapper .gsection h2 {
	font-size: 18.2px;
}
.gform_wrapper a {
	font-weight: 400;
}
/*.gform_wrapper .gsection.field-group-1 {
	background-color: #e2d6ef;
}
.gform_wrapper .gsection.field-group-2 {
	background-color: #b9e0ef;
}
.gform_wrapper .gsection.field-group-3 {
	background-color: #b9dfe6;
}*/
.gform_wrapper .gsection .step-label,
.gform_wrapper .gsection .text-label {
	float: left;
}
.gform_wrapper .gsection .step-label {
	border-radius: 0 32px 32px 0;
	color: #fff;
	display: inline-block;
	padding: 12px 20px 12px 18px;
	text-transform: uppercase;
}

/*.gform_wrapper .gsection.field-group-1 .step-label {
	background-color: #69399a;
}
.gform_wrapper .gsection.field-group-2 .step-label {
	background-color: #17b7f2;
}
.gform_wrapper .gsection.field-group-3 .step-label {
	background-color: #1ca6bf;
}*/

.gform_wrapper .step-label {
	background-color: #0a7c62;
	font-weight: bolder;
}

.gform_wrapper .gsection {
	background-color: #0e9e7c;
}

.gform_wrapper .gsection .text-label {
	color: #fff;
	display: inline-block;
	padding: 12px 20px 12px 16px;
	text-transform: uppercase;
}
.gsection-buttons {
	padding: 32px 0 32px 20%;
}
.gsection-buttons .section-buttons {
	margin: 0 -12px 0 -8px;
}
.gsection-buttons .section-buttons .button-back,
.gsection-buttons .section-buttons .button-next,
.gsection-buttons .section-buttons .button-add_to_cart {
	background: #00c853;
	border-radius: 8px;
	color: #fff;
	float: left;
	font-size: 18.2px;
	line-height: 1;
	margin: 0 12px 0 8px;
	padding: 14px 18px;
	text-transform: uppercase;
}
.gsection-buttons .section-buttons .button-back {
	background: #95bea6;
}
.gsection-buttons .section-buttons .button-next {
	display: none;
	padding-right: 24px;
}
.gsection-buttons .section-buttons .button-add_to_cart {
	display: none;
	padding-right: 24px;
}
.gf_inner_form.ready_step .gsection-buttons .button-next,
.gf_inner_form.ready_step .gsection-buttons .button-add_to_cart {
	display: block;
}
.gf_inner_form:not(.ready_step) .gsection-buttons-1 {
	display: none;
}
.gsection-buttons-3 {
	padding-top: 16px;
}
.gf_will_expand {
	display: none;
}
.gf_expanded {
	display: block;
}
.gf_inner_form {
	background: #fff;
	/*border: 1px solid #90a4ae;*/
	border-radius: 0 0 3px 3px;
	border-top: 0;
	padding: 8px 20px;
}
.field-group-2 .gf_inner_form {
	padding: 16px 20px;
}
.gf_inner_form .field-group-1 {
	padding: 16px 20px 16px 0;
}
.gf_inner_form .field-group-2 {
	padding: 8px 20px 8px 0;
}
.gf_inner_form .field-group-3 {
	padding: 32px 20px 32px 0;
}
.gf_inner_form .show_top_border:not(.gsection-buttons) {
	border-top: 2px solid #e0e0e0;
}
.single_variation_wrap .woocommerce-variation-add-to-cart .quantity {
	display: none !important;
}
.swatch-filter {
	display: none !important;
}
.swatch-filter.next-elem-shown {
	display: block !important;
}
.swatch-filters-desc {
	margin: 4px 0;
}
#price_calculator {
	display: none !important;
}
.order-total .amount {
	font-size: 23px;
	color: green;
}
.product-content [itemprop="description"] {
	background-color: #eceff1;
	color: #636761;
	line-height: 1.1;
	overflow: hidden;
	padding: 28px 20px;
}

.free-samples-product-page{
margin-bottom: 20px;
}

.free-samples-product-page a{
text-decoration: none;
}

.free-samples-product-page a img{
width: 100%;
} 

.deduction-note{
  background-color: rgb(14, 158, 124);
    border: 2px solid #0a7c62;
    margin-bottom: 20px;
    padding: 7px;
    color: #FFFFFF;
}


.deduction-note p{

}


.deduction-note strong{

}

.product-content .price {
	display: none;
}
.manufacturing-times {
	background: url(images/shipping-icon-v2.png) no-repeat;
	box-sizing: border-box;
	float: left;
	min-height: 31px;
	padding-left: 64px;
	width: 55%;
}
.installer-link {
	background: url(images/installer-icon-v2.png) 16px 2px no-repeat;
	box-sizing: border-box;
	float: left;
	min-height: 29px;
	padding-left: 56px;
	width: 45%;
}



/* for fixed product page */



.product-cat-fixed-product{

}

.product-cat-fixed-product .free-samples-product-page{
display: none;
}

.product-cat-fixed-product .deduction-note {
display: none;
}

.product-cat-fixed-product .product-content .fixed-product-price {
	margin-top: 30px;
	margin-bottom: 25px;
	float: left;
	width: 45%;
}

.product-cat-fixed-product .product-content .fixed-product-price .amount{
	font-size: 55px;
}

.product-cat-fixed-product .product-content form.cart{
	border: 1px solid #BFBFBF;
	padding: 3% !important;
	float: left;
	width: 99%;
	margin-bottom: 15px;
}


.product-cat-fixed-product .product-content .quantity-container{
	float: right;
width: 50%;
}


.product-cat-fixed-product .product-content .quantity {
	display: block;
	float: left;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	width: 100%;
	text-align: center;
	margin: 0 !important;
}

.product-cat-fixed-product .product-content .add_to_cart_button{
	float: left;
	border: none;
	border-radius: 5px;
	padding: 9px 30px;
	width: 100%;
}


.product-cat-fixed-product .product-content .quantity-label{
	float: left;
	width: 100%;
	padding-bottom: 8px;
}



.product-cat-fixed-product .product-content .quantity .q_plus{
	width: 25%;
	height: 35px;
	float: right;
	background-color: #eeeeee;
	cursor: pointer;
	text-align: center;
	color: #F93942;
	font-size: 38px;
}

.product-cat-fixed-product .product-content .quantity .q_plus:before{
	content: "+";
}

.product-cat-fixed-product .product-content .quantity .q_minus:before{
	content: "-";
}
.product-cat-fixed-product .product-content .quantity .q_minus{
	width: 25%;
	height: 35px;
	float: left;
	background-color: #eeeeee;
	cursor: pointer;
	text-align: center;
	color: #F93942;
	font-size: 50px;
}

.product-cat-fixed-product .product-content .quantity input{
	border: none;
	font-size: 25px;
	font-weight: 300;
	color: #3e3e3e;
	height: 35px;
	width: 49%;
}


.product-cat-fixed-product .short-description p{
    padding-bottom: 15px;
    line-height: 21px;

}

.product-cat-fixed-product .short-description ul{
	padding-left: 30px;
	padding-bottom: 25px;
}

.product-cat-fixed-product .short-description li{
list-style-type: disc;
margin-top: 8px;
}




/* css for free samples banner on homepage */
.free-samples-container{
  margin: 20px auto 0;
    max-width: 940px;
}


.samples-home-content{
	width: 100%;
}


.samples-home-content img{
	width: 100%;
	height: auto;
}

.home-hipages-container{
    margin-top: 15px;
}

#hipages-home-content{
   border: 1px solid #1e1e1e;
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 940px;
    width: 100%;
}

.home-hipages-container h4{
    text-align: center;
    background-color: #000;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 23px;
    color: #fff;
}

.home-hipages-container p{
    text-align: center;
    color: #000;
    font-size: 20px;
    margin-top: 15px;
}

.home-hipages-container img{

}

 .home-hipages-container a{
   position: absolute;
    right: 25px;
    top: 105px;
    background-color: #03b865;
    color: #fff;
    padding: 3px 20px;
    font-size: 13px;
    font-weight: bold;
 }

 

 /* NEW COLOUR SCHEME UPDATE */

#free-delivery-grey{

	background-color: #F5F5F5;
}

#pre-header-container{
	background-color: #FFFFFF;
}


#pre-header .pf-phone-number{
	background: url(images/phone-icon-pre-header.png) no-repeat  0 4px;
	padding-left: 35px;
}
#pre-header .pf-phone-number a{
	color: #13adb8;
}

#pre-header .social-icons .facebook{
	background: url("images/new/pre-header-social-facebook.png") no-repeat;
}

#pre-header .social-icons .googleplus{
	background: url("images/new/pre-header-social-google+.png") no-repeat;

}

#pre-header .social-icons .instagram{
	background: url("images/new/pre-header-social-instagram.png") no-repeat;
}

#header-container{
	background-color: #FFFFFF;
	border-top: 3px solid #13adb8;
}

ul#nav li a{
	color: #000000;
}

ul#nav .menu-item-24 a{
	background-image: url("images/new/menu_icon_home-black.png");
}

ul#nav .menu-item-34 a {
    background-image: url("images/new/menu_icon_how_to_measure-black.png");
}

ul#nav .menu-item-246 a {
    background-image: url("images/new/menu_icon_how_to_install-black.png");
}

ul#nav .menu-item-contact_us a {
    background-image: url("images/new/menu_icon_contact_us-black.png");
}

#top-products-container{

background-color: #1BBED1 !important;

}

.header-cart .cart .amount {
    background: #13adb8;
  }


  .header-cart .cart{
  	background-color: #1BBED1;
  }


  .home-product-select-button{
  	background-color: #FE5252 !important;
  }

  .products li:hover .home-product-wrapper{
  	border: 4px #FE5252 solid;
  }


  #free-delivery-green{
  	background-color: #1BBED1 !important;
  }

  #pre-footer-container {
    background-color: #1BBED1 !important;
	}

	#footer fieldset#footer-newsletter legend{
		color: #1BBED1 !important;
	}

	#footer-newsletter .mc-field-group button{
		background-color: #1BBED1 !important;
	}

	.product-interest-free-banner{
		background-color: #DFF2F4 !important;
	}

	.deduction-note{
		background-color: #00C3CD !important;
		border: 0px;
	}

	.gform_wrapper .gsection{
		background-color: #00C3CD;
	}

	.gform_wrapper .step-label{
		background-color: #13adb8;
	}

	.gsection-buttons .section-buttons .button-back, .gsection-buttons .section-buttons .button-next, .gsection-buttons .section-buttons .button-add_to_cart{
		background: #FE5252;
	}

	.product_totals .single_add_to_cart_button{
		background-color: #FE5252;
	}

	.product_totals .single_add_to_cart_button:hover{
		background-color: #d43938;
	}

	.contact-us-form-div input[type="submit"]{
		background-color: #FE5252;
		color: #FFFFFF;
	}

	.contact-us-form-div input[type="submit"]:hover{
		background-color: #d43938;

	}

	#footer-container{
		background-color: #F5F5F5;
	}

  /* END NEW COLOUR SCHEME UPDATE */

  
  /* HOME CONTENT STYLE */

  #home-content-wrapper{

  }

  #home-content{
  	margin: 0 auto;
	max-width: 940px;
	margin-top: 25px;
	padding-bottom: 30px;
  }

   #home-content h1{
   	font-size: 25px;
	padding-bottom: 19px;
   }

    #home-content p{
    	padding-bottom: 8px;
    }

    #home-content p strong{
    	color: #1BBED1
	}

	#home-content a.button{
		margin-top: 16px;
		background-color: #FE5252;
		color: #fff;
		border-radius: 0px;
		border: none;
		padding: 9px 29px;
	}

  /* HOME CONTENT STYLE END */


/* START AWNING ARCHIVE PAGE STYLE */

	.sub-product-list-title{
		color: #7c7c7c;
		color: #7c7c7c;
		font-size: 25px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 19px;
		padding-bottom: 20px;
	}

	.archive-product-item .amount{
		display: block;
		font-size: 19px;
		padding-bottom: 9px;
		color: #000;
	}

/* END AWNING ARCHIVE PAGE STYLE */


/* Removing the Navigation button and styling title and description on pretty photo light box */

div.pp_default .pp_nav{
	display: none !important;
}

.pp_description h3{
   font-size: 15px;
    line-height: 18px;
}

.pp_description span{
	  display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
}


	/* Load more pagination style START */

	.malinky-ajax-pagination-loading{
		float: left;
		width: 100%;
		text-align: center;
	}

	.malinky-load-more{
 float: left;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
	}

	.malinky-load-more a{
		   background-color: #fe5252;
	    color: #ffffff;
	    font-size: 18px;
	    padding: 8px 20px;
	    text-decoration: none;
	}

	.malinky-load-more a:hover{
		background-color: red;
		text-decoration: none;
	}

	/* Load more pagination style END */

@media (max-width: 960px) {
	.manufacturing-times {
		float: none;
		width: 100%;
	}
	.installer-link {
		float: none;
		margin-top: 16px;
		padding-left: 64px;
		width: 100%;
	}
}
.installer-link a {
	background: #00c3cd;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 11.46px;
	margin-top: .8em;
	padding: 8px;
}
.wpcf17-response-output {
	float: left;
}
.choose-step3-button {
	background-color: #fff;
	border: 1px solid;
	border-radius: 5px;
	color: gray;
	font-size: 15px;
	margin-top: 12px;
	padding: 7px;
}
.step3-modal-title {
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 12px;
}
.step3-model-option-div {
	border-bottom: 1px dotted gray;
	cursor: pointer;
	padding: 12px;
	float: left;
}
.step3-model-option-div img {
	float: left;
	margin-right: 12px;
}
.step3-hidden-modal {
	max-width: 600px;
	width: 100%;
	display: none;
}
.copy ul,.entry-content ul {
	list-style: none;
	margin: 0;
}
.copy h2,.entry-content h2 {
	font-size: 1.3em;
	font-weight: 700;
	margin: 0;
}

.payment-method h3 {
    font-size: 15px;
    margin: 0px;
}

.payment-method h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.payment-method ul{
	border: none !important;
	box-shadow: none !important;
}

.payment-method ul li{
	padding: 0 !important;
}

.order-details h1 h2 h3 {
	color: #000;
}

.order-details h2 {
	font-size: 22px;
	margin-bottom: 5px;
}


/* Installers page style START */

#post-1085{

}


#post-1085 h1.page-title{
  font-size: 19px;
    margin-top: 25px;
    text-transform: uppercase;
}

.hipages-banner{
     background: rgba(0, 0, 0, 0) url("images/hipages-banner.jpg") no-repeat scroll 0 0;
    float: left;
    min-height: 248px;
    width: 100%;
}

.hipages-banner h2{
     color: #fff;
    margin-top: 137px;
    padding-left: 325px;
}

.hipages-banner p{
    color: #fff;
    font-size: 18px;
    margin-top: 13px;
    padding-left: 325px;
}

.hipages-contractor-checklist{
  float: left;
    margin-top: 25px;
    width: 100%;
}

.contractor-graphic{
  float: left;
    width: 31%;
}


.contractor-graphic img{
    max-width: 285px;
    width: 100%;
}

.hp-reasons-list{
    float: right;
    margin-top: 20px;
    width: 67%;
}


.hp-reasons-list h3{
   color: #000;
    font-size: 26px;
    font-weight: 300;
}


.hp-reasons-list ul{
    margin-top: 30px;
}


.hp-reasons-list ul li{
    background: rgba(0, 0, 0, 0) url("images/greencheck.jpg") no-repeat scroll 0 0;
    color: #4e4a4a;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 28px;
    padding-left: 51px;
    text-transform: uppercase;
}

.hp-how-it-works{
    background-color: #f2f1f1;
    float: left;
    margin-top: 50px;
    padding: 30px 5%;
    width: 90%;
}


.hp-how-it-works h3{
  color: #565967;
    font-size: 19px;
    font-weight: bold;
}


.hp-how-it-works p{
  color: #000;
    float: left;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 2%;
    width: 26%;
}

.hp-how-it-works p span{
	color: #006838;
}


.hp-how-it-works p:nth-child(2){
    background: rgba(0, 0, 0, 0) url("images/bullet1.jpg") no-repeat scroll 0 0;
}


.hp-how-it-works p:nth-child(3){
	    background: rgba(0, 0, 0, 0) url("images/bullet2.jpg") no-repeat scroll 0 0;
}


.hp-how-it-works p:nth-child(4){
	    background: rgba(0, 0, 0, 0) url("images/bullet3.jpg") no-repeat scroll 0 0;
}

.hp-get-quote{
   float: left;
    margin-bottom: 50px;
    margin-top: 65px;
    text-align: center;
    width: 100%;
}

.hp-get-quote a{
   background-color: #00c367;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
}


.hp-get-quote a:hover{
	color: #ffffff;
}

.products .home-product-wrapper h3{
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
     min-height: 50px;

}


@media only screen and (max-width: 850px) {
	.hipages-banner p{
		font-size: 14px;
	}

	.products .home-product-wrapper h3{
		min-height: 70px;
	}

	
}

@media only screen and (max-width: 800px){
	ul#nav .menu-item-24 a{
		background-image: url("images/new/menu_icon_home.png");
	}

	ul#nav .menu-item-34 a {
    	background-image: url("images/new/menu_icon_how_to_measure.png");
	}

	ul#nav .menu-item-246 a {
    	background-image: url("images/new/menu_icon_how_to_install.png");
	}

	ul#nav .menu-item-contact_us a {
    	background-image: url("images/new/menu_icon_contact_us.png");
	}
}


@media only screen and (max-width: 740px) {

	.hipages-banner {
		background: rgba(0, 0, 0, 0) url("images/hp-banner-bg.jpg") no-repeat scroll center top;
    	min-height: auto;
	}
	.hipages-banner h2{
		float: none;
	    margin-top: 175px;
	    padding-left: 0;
	    text-align: center;
	}

	.hp-reasons-list h3{
		 font-size: 22px;
	}

	.hipages-banner p{
		float: none;
		text-align: center;
		padding-left: 0px
	}

	.hp-how-it-works p{
		 font-size: 14px;
    	padding-left: 7%;
     	width: 24%;
	}

	 .home-hipages-container a{
	 	  display: block;
    position: static;
    width: 130px;
    margin: 0 auto;
    top: 0;
    right: 0;
    margin-bottom: 20px;
	 }
}


@media only screen and (max-width: 540px) {

	#post-1085 h1.page-title{
		text-align: center;
	}

	.contractor-graphic{
		text-align: center;
    	width: 100%;
	}

	.hp-how-it-works h3{
		text-align: center;
	}

	.hp-reasons-list h3{
		text-align: center;
	}


	.hp-reasons-list{
		width: 100%;
	}

	.hp-how-it-works p{
		background-position: center 12px !important;
	    font-size: 15px;
	    min-height: auto;
	    padding: 50px 0 20px;
	    text-align: center;
	    width: 100%;
	}

	.hp-how-it-works p:nth-child(3){

	    border-bottom: 1px solid #21a05c;
	    border-top: 1px solid #21a05c;
	}
}

/* Installers page style END */

@media only screen and (min-width: 601px) and (max-width: 820px), only screen and (max-width: 530px) {
	.home-product-title {
		padding: 7px 0;
		text-align: center;
		width: 100%;
	}
	.customize-button {
		float: left;
		margin-right: 6px;
		margin-bottom: 12px;
		margin-left: 28%;
	}
	.gform_wrapper .top_label li.gfield.gf_right_half { width: 95% !important }
	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium { width: 100% !important }
	.cart_table_row .product-thumbnail { width: 100% }
	.cart_table_row .product-name { width: 100% }
	.cart_table_row .product-subtotal { width: 100% !important }
	.product_totals {
		opacity: 0.95;
		position: fixed;
		top: 0px;
		height: 56px;
		-webkit-box-shadow: 0px 4px 1px 0px rgba(219,216,219,0.70);
		-moz-box-shadow: 0px 4px 1px 0px rgba(219,216,219,0.70);
		box-shadow: 0px 4px 1px 0px rgba(219,216,219,0.70);
	}
}
/* Mikhails work edit cart function*/
.cart_table_row .product-edit .edit {
	display: inline-block;
}
.cart_table_row .product-edit .edit a:hover span {
	text-decoration: underline;
	opacity: .9;
}
/* mikhails step 3 icons and photo not replacing */
.field-group-3 .borderRadius {
	border-radius: 3px;
}
.field-group-3 .borderRadiusTp {
	border-radius: 0;
}
.field-group-3 .borderRadiusTp .border,.field-group-3 .borderRadius .border {
	border-radius: 0;
}
.field-group-3 .dd .ddChild {
	left: 0;
	border: 1px solid #e0e0e0;
}
.field-group-3 .dd .ddTitle .ddTitleText {
	padding: 2px 20px 2px 2px;
}
.field-group-3 .dd {
	border: none;
}
.field-group-3 .dd .ddTitle {
	color: #000;
	background: #fff;
	border: 1px solid #e0e0e0;
}
.field-group-3 .borderRadius .ddTitle {
	border-radius: 3px 3px 3px 3px;
}
.field-group-3 .borderRadius .ddChild {
	border-radius: 3px 3px 3px 3px;
}
.field-group-3 .borderRadiusTp .ddTitle {
	border-radius: 3px 3px 0 0;
}
.field-group-3 .borderRadiusTp .ddChild {
	border-top: none;
	border-radius: 0 0 3px 3px;
}
.field-group-3 .borderRadiusTp ul li:last-child {
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.field-group-3 .ginput_container img {
	height: 30px;
}
.xdebug-var-dump {
	white-space: pre-wrap;
}
/* Roller Blinds */
/* Roller Blinds > Double Roller */
.Roller-dr option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-dr option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Roller-dr option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Roller Blinds > Control Position */
.Roller-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-cp option[value^="Left"] {
	background-image: url(images/form_icon/rlb-cp-left.png);
}
.Roller-cp option[value^="Right"] {
	background-image: url(images/form_icon/rlb-cp-right.png);
}
/* Roller Blinds > Fabric Roll Direction */
.Roller-frd option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-frd option[value^="Front Roll"] {
	background-image: url(images/form_icon/rlb-frd-front.png);
}
.Roller-frd option[value^="Back Roll"] {
	background-image: url(images/form_icon/rlb-frd-back.png);
}
/* Roller Blinds > Chain Colour */
.Roller-cc option[value^="0"] {
	background-image: url(images/form_icons_new/blank.png);
}
.Roller-cc option[value^="White"] {
	background-image: url(images/form_icons_new/chain_white.png);
}
.Roller-cc option[value^="Black"] {
	background-image: url(images/form_icons_new/chain_black.png);
}
.Roller-cc option[value^="Silver"] {
	background-image: url(images/form_icons_new/chain_silver.png);
}
/* Roller Blinds > Bottom Rail Style */
.Roller-brs option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-brs option[value^="Square"] {
	background-image: url(images/form_icon/rlb-brs-square.png);
}
.Roller-brs option[value^="Oval"] {
	background-image: url(images/form_icon/rlb-brs-oval.png);
}
/* Roller Blinds > Bottom Rail Colour */
.Roller-brc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-brc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-brc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-brc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roller Blinds > Bracket Colour */
.Roller-bc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-bc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-bc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-bc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roller Blinds > Control Type */
.Roller-ct option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-ct option[value^="Manual"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-ct option[value^="Motor"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roller Blinds > Pelmet */
.Roller-p option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-p option[value^="No Pelmet"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-p option[value^="Box Pelmet"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roller Blinds > Mounting Position */
.Roller-mp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roller-mp option[value^="Inside"] {
	background-image: url(images/form_icon/rlb-mount-inside.png);
}
.Roller-mp option[value^="Outside"] {
	background-image: url(images/form_icon/rlb-mount-outside.png);
}
/* Vertical Blinds */
/* Vertical Blinds > Slat Size */
.Vertical-ss option[value^="89mm"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-ss option[value^="127mm"] {
	background-image: url(images/form_icon/blank.png);
}
/* Vertical Blinds > Track Colour */
.Vertical-tc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-tc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-tc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-tc option[value^="Satin"] {
	background-image: url(images/form_icon/blank.png);
}
/* Vertical Blinds > Control Position */
.Vertical-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-cp option[value^="Left"] {
	background-image: url(images/form_icon/vrb-cp-left.png);
}
.Vertical-cp option[value^="Right"] {
	background-image: url(images/form_icon/vrb-cp-right.png);
}
/* Vertical Blinds > Opening Side */
.Vertical-os option[value^="0|0"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-os option[value^="Left|0"] {
	background-image: url(images/form_icon/vrb-os-left.png);
}
.Vertical-os option[value^="Right|0"] {
	background-image: url(images/form_icon/vrb-os-right.png);
}
.Vertical-os option[value^="Center opening|0"] {
	background-image: url(images/form_icon/vrb-os-center-o.png);
}
.Vertical-os option[value^="Center Bunch|0"] {
	background-image: url(images/form_icon/vrb-os-center-b.png);
}
/* Vertical Blinds > Bottom Style */
.Vertical-bs option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-bs option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-bs option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-bs option[value^="Satin"] {
	background-image: url(images/form_icon/blank.png);
}
/* Vertical Blinds > Mount Position */
.Vertical-mp option[value^="0"] {
	background-image: url(images/form_icon/Verticals_Verticals.png);
}
.Vertical-mp option[value^="Inside"] {
	background-image: url(images/form_icon/vrb-mp-inside.png);
}
.Vertical-mp option[value^="Outside"] {
	background-image: url(images/form_icon/vrb-mp-outside.png);
}
/* Vertical Blinds > Touching Floor */
.Vertical-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Vertical-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Vertical-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Venetian Blinds */
/* Venetian Blinds > Control Position */
.Venetian-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Venetian-cp option[value^="Left"] {
	background-image: url(images/form_icon/vnb-cp-left.png);
}
.Venetian-cp option[value^="Right"] {
	background-image: url(images/form_icon/vnb-cp-right.png);
}
/* Venetian Blinds > Mount Position */
.Venetian-mp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Venetian-mp option[value^="Inside"] {
	background-image: url(images/form_icon/vnb-mp-inside.png);
}
.Venetian-mp option[value^="Outside"] {
	background-image: url(images/form_icon/vnb-mp-outside.png);
}
/* Venetian Blinds > Touching Floor */
.Venetian-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Venetian-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Venetian-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Roman Blinds */
/* Roman Blinds > Control Position */
.Roman-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cp option[value^="Left"] {
	background-image: url(images/form_icon/rmb-cp-left.png);
}
.Roman-cp option[value^="Right"] {
	background-image: url(images/form_icon/rmb-cp-right.png);
}

/* Roman Blinds > Mount Position */
.Roman-mp option[value^="Face Fit"]{
	background-image: url(images/form_icon/rmb-mp-ouside.png);
}
/* Roman Blinds > Chain or Cord */
.Roman-coc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-coc option[value^="Chain"] {
	background-image: url(images/form_icon/Roman_Control_CHAIN.png);
}
.Roman-coc option[value^="Cord"] {
	background-image: url(images/form_icon/Roman_Control_CORDLOCK.png);
}
/* Roman Blinds > Chain Colour */
.Roman-cc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roman Blinds > Cleat style */
.Roman-cs option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cs option[value^="Plastic Cleat"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cs option[value^="Timber Acorn"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cs option[value^="Chrome Cleat"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-cs option[value^="Acorn"] {
	background-image: url(images/form_icon/blank.png);
}
/* Roman Blinds > Touching Floor */
.Roman-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Roman-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Roman-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Plantation Shutters */
/* Plantation Shutters > Mount Position */
.Plantation-mp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-mp option[value^="Inside"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-mp option[value^="Outside"] {
	background-image: url(images/form_icon/blank.png);
}
/* Plantation Shutters > Style */
.Plantation-s option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-s option[value^="Traditional"] {
	background-image: url(images/form_icon/ps-style-traditional.png);
}
.Plantation-s option[value^="Contemporary"] {
	background-image: url(images/form_icon/ps-style-contemporary.png);
}
/* Plantation Shutters > Midrail */
.Plantation-m option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-m option[value^="Center"] {
	background-image: url(images/form_icon/ps-midrail-center.png);
}
.Plantation-m option[value^="Custom Height"] {
	background-image: url(images/form_icon/blank.png);
}
/* Plantation Shutters > Panel Configuration */
.Plantation-pc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-pc option[value^="1 Panel"] {
	background-image: url(images/form_icon/ps-pc-1.png);
}
.Plantation-pc option[value^="2 Panel"] {
	background-image: url(images/form_icon/ps-pc-2.png);
}
.Plantation-pc option[value^="3 Panel"] {
	background-image: url(images/form_icon/ps-pc-3.png);
}
.Plantation-pc option[value^="4 Panel"] {
	background-image: url(images/form_icon/ps-pc-4.png);
}
.Plantation-pc option[value^="5 Panel"] {
	background-image: url(images/form_icon/ps-pc-5.png);
}
.Plantation-pc option[value^="6 Panel"] {
	background-image: url(images/form_icon/ps-pc-6.png);
}
/* Plantation Shutters > Hinge Colour */
.Plantation-hc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-hc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-hc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-hc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-hc option[value^="Brass"] {
	background-image: url(images/form_icon/blank.png);
}
/* Plantation Shutters > Opening direction */
.Plantation-od option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-od option[value^="Left opening"] {
	background-image: url(images/form_icon/blank.png);
}
.Plantation-od option[value^="Right Opening"] {
	background-image: url(images/form_icon/blank.png);
}
/* Panel Glides */
/* Panel Glides > Control Position */
.Panel-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-cp option[value^="Left"] {
	background-image: url(images/form_icon/pb-cp-left.png);
}
.Panel-cp option[value^="Right"] {
	background-image: url(images/form_icon/pb-cp-right.png);
}
/* Panel Glides > Stack Side */
.Panel-ss option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-ss option[value^="Left"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-ss option[value^="Right"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-ss option[value^="Center Open"] {
	background-image: url(images/form_icon/blank.png);
}
/* Panel Glides > Track Layout */
.Panel-tl option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tl option[value^="Type A"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tl option[value^="Type B"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tl option[value^="Type C"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tl option[value^="Type D"] {
	background-image: url(images/form_icon/blank.png);
}
/* Panel Glides > Base Rail Colour */
.Panel-brc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-brc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-brc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-brc option[value^="Satin"] {
	background-image: url(images/form_icon/blank.png);
}
/* Panel Glides > Track Colour */
.Panel-tc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tc option[value^="Satin"] {
	background-image: url(images/form_icon/blank.png);
}
/* Panel Glides > Mount position */
.Panel-mp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-mp option[value^="Inside"] {
	background-image: url(images/form_icon/pb-mp-inside.png);
}
.Panel-mp option[value^="Outside"] {
	background-image: url(images/form_icon/pb-mp-outside.png);
}
/* Panel Glides > Touching Floor */
.Panel-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Panel-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Panel-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Honeycomb Blinds */
/* Honeycomb Blinds > Control Position */
.Honeycomb-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Honeycomb-cp option[value^="Left"] {
	background-image: url(images/form_icon/hb-cp-left.png);
}
.Honeycomb-cp option[value^="Right"] {
	background-image: url(images/form_icon/hb-cp-right.png);
}
/* Honeycomb Blinds > Stack Type */
.Honeycomb-st option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Honeycomb-st option[value^="Bottom Up"] {
	background-image: url(images/form_icon/hb-st-bottomup.png);
}
.Honeycomb-st option[value^="Top Down"] {
	background-image: url(images/form_icon/hb-st-topdown.png);
}
.Honeycomb-st option[value^="Top Down Bottom Up"] {
	background-image: url(images/form_icon/hb-st-backrollbottomup.png);
}
/* Honeycomb Blinds > Mount Position */
.Honeycomb-mp option[value^="0"] {
	background-image: url(images/form_icon/honeycomb_mt_0.png);
}
.Honeycomb-mp option[value^="Inside"] {
	background-image: url(images/form_icon/hb-mp-inside.png);
}
.Honeycomb-mp option[value^="Outside"] {
	background-image: url(images/form_icon/hb-mp-outside.png);
}
/* Honeycomb Blinds > Touching Floor */
.Honeycomb-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Honeycomb-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Honeycomb-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}
/* Twin Blinds */
/* Twin Blinds > Control Position */
.Twin-cp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-cp option[value^="Left"] {
	background-image: url(images/form_icon/tb-cp-left.png);
}
.Twin-cp option[value^="Right"] {
	background-image: url(images/form_icon/tb-cp-right.png);
}
/* Twin Blinds > Chain Colour */
.Twin-cc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-cc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-cc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-cc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Twin Blinds > Bottom Rail Colour */
.Twin-brc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-brc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-brc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-brc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Twin Blinds > Bracket Colour */
.Twin-bc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-bc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-bc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-bc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Twin Blinds > Head Box Colour */
.Twin-hbc option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-hbc option[value^="White"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-hbc option[value^="Black"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-hbc option[value^="Silver"] {
	background-image: url(images/form_icon/blank.png);
}
/* Twin Blinds > Mount Position */
.Twin-mp option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-mp option[value^="Twin Blinds"] {
	background-image: url(images/form_icon/tb-mp-twinblinds.png);
}
.Twin-mp option[value^="Inside"] {
	background-image: url(images/form_icon/tb-mp-inside.png);
}
.Twin-mp option[value^="Outside"] {
	background-image: url(images/form_icon/tb-mp-outside.png);
}
/* Twin Blinds > Touching Floor */
.Twin-tf option[value^="0"] {
	background-image: url(images/form_icon/blank.png);
}
.Twin-tf option[value^="Yes"] {
	background-image: url(images/form_icon/Icon_Yes.png);
}
.Twin-tf option[value^="No"] {
	background-image: url(images/form_icon/Icon_No.png);
}


ul#footer-nav li{
	padding: 0 0 0 13px;

}

.cart-installers .installer-header {
    background: #ff7a2d;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}

.cart-installers .installer-body img {
    float: left;
    width: 20%;
    padding: 10px 0;
}

.cart-installers .installer-body p {
    display: inline-block;
    width: 55%;
    padding-top: 15px;
    padding-left: 20px;
}

.cart-installers .installer-body a {
	float: right;
    margin-top: 15px;
    color: #fff;
    background: #03B865;
    padding: 10px 20px;
    width: 12%;
    text-align: center;
}
