table.variations {
	width: 100%;
	padding: 12px;
}
.bc-tf-field { visibility: hidden }
.bc-tf-field.bc-tfnh-field { visibility: visible }
.variation_form_section { }
.field-group-wrapper { }
.field-group-inner-wrap {
	background-color: #8e8e8e;
	border-radius: 6px;
	color: #fff;
	-webkit-box-shadow: 0px 2px 5px 5px rgba(235,235,235,0.75);
	-moz-box-shadow: 0px 2px 5px 5px rgba(235,235,235,0.75);
	box-shadow: 0px 2px 5px 5px rgba(235,235,235,0.75);
}
.field-group-inner-wrap.finished { background-color: #A5D0C6 }
.product_totals.finished { background-color: #95BCB3 }
.arrow-down {
	width: 0;
	height: 0;
	margin: auto;
	border-style: solid;
	border-width: 15px 50px 0 50px;
	border-color: #8e8e8e transparent transparent transparent;
	margin-bottom: 10px;
}
.arrow-down.finished { border-color: #a5d0c6 transparent transparent transparent }
.single_add_to_cart_button,
#bc_add_sample {
	padding: 10px !important;
	font-size: 18px !important;
}
.product-content .single_add_to_cart_button { width: 100% }
.ginput_container input[type="text"] {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}
.ginput_container input[type="text"]:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}
.field-group-inner-wrap h2 { }
.field-group-inner-wrap label {
	color: #FFFFFF;
	font-size: 14px;
}
.swatch-label { color: #FFFFFF }
.gform_wrapper {
	margin: 0 0;
	max-width: 100% !important;
}
.swatch-wrapper { border-radius: 3px }
div.swatch-wrapper.selected {
	border: 4px solid #50b29b !important;
	border-radius: 3px;
}
.customize-blinds-form_wrapper .gsection { margin: 0 !important }
.step_one {
	margin: 0;
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.1);
}
.field-group-2 .ginput_counter { color: #FFFFFF !important }
.customize-blinds-form_wrapper select {
	background-color: #fff;
	border: 0 none;
	border-radius: 3px;
}
.reset_variations {
	background-color: #fff;
	border: 1px solid;
	border-radius: 3px;
	color: gray;
	float: left;
	font-size: 13px;
	margin-top: 13px;
	padding: 5px;
}
.reset-wrapper {
	float: left;
	width: 100%;
}
.gform_wrapper { display: block !important }
.product-custom-content { margin-top: 23px }
.quantity { display: none }
#home-banner { margin-bottom: 15px }
.home-product-title {
	float: left;
	padding: 7px;
	color: #5e5e5e;
}
.customize-button {
	float: right;
	margin-right: 6px;
}
.homepage-wrapper .woocommerce-result-count,
.homepage-wrapper .woocommerce-ordering,
.homepage-wrapper .add_to_cart_button,
.homepage-wrapper .price,
.homepage-wrapper .offers-for-woocommerce-make-offer-button-catalog,
.homepage-wrapper .product_type_simple { display: none }
.contact-us-form-div {
	float: left;
	width: 100%;
}
.contact-us-form-div p {
	float: left;
	width: 48%;
}
.contact-us-form-div input { }
.contact-us-form-div textarea { }
.contact-us-form-div input[type="submit"] {
	border: 1px solid #e0e0e0;
	color: gray;
	margin-top: 14px;
	padding: 9px 25px;
}
.contact-us-form-div input[type="submit"]:hover { color: #FFFFFF }
#pre-footer-container {
	padding: 16px 0;
}
#pre-footer {
	margin: 0 auto;
	max-width: 940px;
}
.pre-footer-left { float: left }
.pre-footer-right { float: right; margin-top: 4px; }
.pf-phone-number {
	background: rgba(0, 0, 0, 0) url("images/phone.png") no-repeat scroll 0 0;
	font-size: 30px;
	font-weight: 500;
	height: 39px;
	line-height: normal;
	margin-top: 6px;
	padding-left: 53px;
}
#footer-container { background-color: #7e7e7e }
#footer h4 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}
.newsletter-widget { }
.newsletter-widget input.newsletter-email {
	border: medium none;
	border-radius: 3px;
	color: #6d6d6d;
	width: 97%;
}
.newsletter-widget input.newsletter-submit {
	background-color: #f93942;
	border: medium none;
	color: #fff;
	margin-top: 12px;
	cursor: pointer;
}
.footer-widgets li.column {
	padding-bottom: 3px;
	margin: 0 2% 0 0;
	width: 23%;
}
.footer-widgets li.column li { padding-bottom: 3px }
.footer-widgets li a { font-size: 13px }
#footer a { color: #dbdbdb }
#footer a:hover { color: #FFFFFF }
.footer-text {
	border-top: 1px solid #dbdbdb;
	color: #dbdbdb;
	font-size: 12px;
}
/* custom cart css */
.cart_table_wrapper { }
.shop_table { }
.cart_table_row {
	border-bottom: 2px solid #e3e3e3;
	float: left;
	padding-bottom: 12px;
	padding-top: 16px;
	width: 100%;
}
.cart_table_row .product-remove {
	float: left;
	margin-top: 8%;
	width: 5%;
}
.cart_table_row .product-remove a {
	color: #5f5f5f !important;
	float: left;
	font-size: 35px;
}
.cart_table_row .product-thumbnail {
	float: left;
	text-align: center;
	width: 180px;
	padding-bottom: 10px;
}
.cart_table_row .product-name {
	float: left;
	width: 70%;
	padding-left: 2%;
}
.cart_table_row .product-price { }
.cart_table_row .product-subtotal {
	float: left;
	text-align: right;
	width: 70% !important;
	padding-top: 10px;
}
.cart_table_row .product-subtotal .left {
	display: inline-block;
	padding: 0 10px;
	width: 60%;
	text-align: left;
	float: left;
}
.cart_table_row .product-subtotal .right {
	display: inline-block;
	width: 20%;
}
.cart_table_row .product-subtotal span {
	display: inline-block;
	font-size: 19px;
	font-weight: bolder;
}
.cart_table_row .product-name > a {
	color: #5f5f5f;
	display: block;
	font-size: 16px;
}
.cart_table_row .variation {
	margin-top: 5px;
	border-top: 1px solid #c3c3c3;
	padding-top: 5px;
}
.varation-col {
	float: left;
	padding-right: 1%;
	width: 31%;
}
.varation-col p { margin-bottom: 3px }
.varation-col p span { font-weight: bold }
.cart_table_row .coupon { float: left }
.cart_table_row .coupon > label { display: none }
.cart_table_row > input[name="update_cart"] { float: right }
.cart-collaterals { margin-top: 23px }
.cart_totals {
	margin-bottom: 5px;
	padding: 5px;
}
.cart_totals .k-checkout-btn {
	padding: 7px 30px !important;
	font-size: 14px;
	background: #f93942;
	color: #fff;
}
.offers-for-woocommerce-make-offer-button-single-product {
	padding: 10px 30px !important;
	font-size: 14px;
	background: #f93942;
	color: #fff;
}
.ajax-load {
	min-width: 50px;
	height: 35px;
	background: url(images/ajax-loader.gif) no-repeat;
	margin-top: 12px;
	display: none;
	padding-left: 40px;
	padding-top: 6px;
}
/* mail chimp footer newsletter form style */
.indicates-required { color: #dbdbdb }
.mc-field-group { }
.mc-field-group label {
	color: #fff;
	font-weight: normal;
}
#mce-responses { }
#mce-error-response { }
#mce-success-response { }
.toggle-content-trigger {
	background-color: #727272;
	border-radius: 3px;
	cursor: pointer;
	padding: 3px 12px;
	display: none;
}
.toggle-content-trigger p {
	background: rgba(0, 0, 0, 0) url("images/arrow-up-down.png") no-repeat scroll right -30px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	height: 26px;
	letter-spacing: 1px;
	padding-top: 4px;
}
.toggle-content-wrapper {
	border: none;
	padding: 0;
	display: block;
}
.toggle-content-trigger.toggle-opened { border-radius: 3px 3px 0px 0px }
.toggle-content-trigger.toggle-opened p { background: rgba(0, 0, 0, 0) url("images/arrow-up-down.png") no-repeat scroll right 0 }
.product_title {
	border-radius: 3px;
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
	background-color: #bca18c;
	color: #fff;
	margin-bottom: 0;
}
#new-price {
	color: #060;
	font-size: 1.2em;
	text-align: right;
}
.product_totals {
	background-color: #727272;
	border-radius: 0 0 6px 6px;
	padding: 0 10px 10px;
}
.product_totals li { text-align: right }
.product_totals li .gfield_label { color: #fff }
.product_totals li span.formattedTotalPrice,
#new-price {
	color: #fff;
	font-size: 21px;
}
.single_variation_wrap .woocommerce-variation-add-to-cart { margin-top: 5px }
.gform_wrapper .gsection {
	padding: 12px !important;
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: none !important;
}
.gform_wrapper .gfield { padding: 0 12px }
.single_variation_wrap .gform_wrapper,
.single_variation_wrap .gform_footer { margin: 0px !important }
.single_variation_wrap .woocommerce-variation-add-to-cart .quantity { visibility: hidden }
#price_calculator {
	display: block !important;
	visibility: hidden;
	height: 0px;
}
.order-total .amount {
	font-size: 23px;
	color: green;
}
.product-content [itemprop="description"] {
	height: 70px;
	background-color: #f7d4b9;
	padding: 10px;
}
.product-content .price { display: none }
.manufacturing-times {
	background: url(images/shipping-icon.png) no-repeat;
	padding-left: 51px;
	padding-top: 3px;
	padding-bottom: 12px;
	float: left;
	width: 35%;
}
.installer-link {
	margin-left: 48%;
	width: 50%;
	padding-left: 10px;
	border-left: 2px solid #e0bfa6;
	height: 50px;
}
.wpcf17-response-output { float: left }
.step3-label {
	display: block;
	font-weight: bold;
	margin-top: 13px;
	padding-bottom: 12px;
}
.choose-step3-button {
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	color: gray;
	font-size: 15px;
	margin-top: 12px;
	padding: 7px;
}
.step3-modal-title {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 12px;
}
.step3-model-option-div {
	border-bottom: 1px dotted gray;
	cursor: pointer;
	padding: 12px;
	float: left;
}
.step3-model-option-div img {
	float: left;
	margin-right: 12px;
}
.step3-hidden-modal {
	max-width: 600px;
	width: 100%;
	display: none;
}
.copy ul,
.entry-content ul {
	list-style: none;
	margin: 0;
}
.copy h2,
.entry-content h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
}
@media only screen and (min-width: 601px) and (max-width: 820px), only screen and (max-width: 530px) { 
	.home-product-title {
		padding: 7px 0;
		text-align: center;
		width: 100%;
	}
	.customize-button {
		float: left;
		margin-right: 6px;
		margin-bottom: 12px;
		margin-left: 28%;
	}
	.gform_wrapper .top_label li.gfield.gf_right_half { width: 95% !important }
	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium { width: 100% !important }
	.cart_table_row .product-thumbnail { width: 100% }
	.cart_table_row .product-name { width: 100% }
	.cart_table_row .product-subtotal { width: 100% !important }
}
/* Mikhails work edit cart function*/
.cart_table_row .product-edit .edit { display: inline-block }
.cart_table_row .product-edit .edit a:hover span {
	text-decoration: underline;
	opacity: 0.9;
}
/* mikhails step 3 icons and photo not replacing */
.field-group-3 .borderRadius { border-radius: 3px }
.field-group-3 .borderRadiusTp {
	border-radius: 0px;
}
.field-group-3 .borderRadiusTp .border,
.field-group-3 .borderRadius .border {
	border-radius: 0px;
}
.field-group-3 .dd .ddChild {
	left: 0px;
	border: 1px solid #e0e0e0;
}
.field-group-3 .dd .ddTitle .ddTitleText { padding: 2px 20px 2px 2px }
.field-group-3 .dd { border: none }
.field-group-3 .dd .ddTitle {
	color: #000;
	background: #fff;
	border: 1px solid #e0e0e0;
}
.field-group-3 .borderRadius .ddTitle { border-radius: 3px 3px 3px 3px }
.field-group-3 .borderRadius .ddChild { border-radius: 3px 3px 3px 3px }
.field-group-3 .borderRadiusTp .ddTitle { border-radius: 3px 3px 0 0 }
.field-group-3 .borderRadiusTp .ddChild {
	border-top: none;
	border-radius: 0 0 3px 3px;
}
.field-group-3 .borderRadiusTp ul li:last-child {
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.field-group-3 .ginput_container img { height: 30px }
.field-group-3 .ginput_container select.gfield_select option { background-image: url(images/form_icon/blank.png) }
/* Honeycomb */
.Honeycomb-mp .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/honeycomb_mt_0.png) }
.Honeycomb-mp .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/honeycomb_mt_inside.png) }
.Honeycomb-mp .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/honeycomb_mt_outside.png) }
.Honeycomb-st .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/honeycomb_st_standard.png) }
.Honeycomb-st .ginput_container select.gfield_select option[value="Top Down"] { background-image: url(images/form_icon/honeycomb_st_top_down.png) }
.Honeycomb-st .ginput_container select.gfield_select option[value="Back RollBottom Up"] { background-image: url(images/form_icon/honeycomb_st__top_bottom_up.png) }
/* Honeycomb */
/* Panels */
.Panel-mp .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/blank.png) }
.Panel-mp .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/panels_mp_INSIDE.png) }
.Panel-mp .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/panels_mp_OUTSIDE.png) }
.Panel-ss .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/blank.png) }
.Panel-ss .ginput_container select.gfield_select option[value="Left"] { background-image: url(images/form_icon/panels_mp_BACK_LeftSlide.png) }
.Panel-ss .ginput_container select.gfield_select option[value="Right"] { background-image: url(images/form_icon/panels_mp_BACK_RightSlide.png) }
/* Panels */
/* Planation */
.Plantation-s .ginput_container select.gfield_select option[value="Traditional"] { background-image: url(images/form_icon/planation_STYLE_Clear_Wand.png) }
.Plantation-s .ginput_container select.gfield_select option[value="Contemporary"] { background-image: url(images/form_icon/planation_STYLE_Tilt_Wand.png) }
.Plantation-m .ginput_container select.gfield_select option[value="Center"] { background-image: url(images/form_icon/planation_Rail_Centre.png) }
.Plantation-m .ginput_container select.gfield_select option[value="Custom Height"] { background-image: url(images/form_icon/planation_Rail_Top.png) }
/* Planation */
/* Rollers */
.Roller-frd .ginput_container select.gfield_select option[value="Front Roll"] { background-image: url(images/form_icon/Rollers_FrontRoll.png) }
.Roller-frd .ginput_container select.gfield_select option[value="Back Roll"] { background-image: url(images/form_icon/Rollers_BackRoll.png) }
.Roller-mp  .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/blank.png) }
.Roller-mp  .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/Rollers_Mount_INSIDE.png) }
.Roller-mp  .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/Rollers_Mount_OUTSIDE.png) }
/* Rollers */
/* Roman */
.Roman-cp .ginput_container select.gfield_select option[value="Left"] { background-image: url(images/form_icon/Roman_Control_LEFT.png) }
.Roman-cp .ginput_container select.gfield_select option[value="Right"] { background-image: url(images/form_icon/Roman_Control_RIGHT.png) }
.Roman-coc  .ginput_container select.gfield_select option[value="Chain"] { background-image: url(images/form_icon/Roman_Control_CHAIN.png) }
.Roman-coc  .ginput_container select.gfield_select option[value="Cord"] { background-image: url(images/form_icon/Roman_Control_CORDLOCK.png) }
.Roman-mp  .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/Roman_Roman.png) }
.Roman-mp  .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/Roman_Mount_INSIDE.png) }
.Roman-mp  .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/Roman_Mount_OUTSIDE.png) }
/* Roman */
/* Twin */
.Twin-cp .ginput_container select.gfield_select option[value="Left"] { background-image: url(images/form_icon/TwinBlinds_Control_LEFT.png) }
.Twin-cp .ginput_container select.gfield_select option[value="Right"] { background-image: url(images/form_icon/TwinBlinds_Control_RIGHT.png) }
.Twin-mp  .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/TwinBlinds_TwinBlinds.png) }
.Twin-mp  .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/TwinBlinds_Mount_INSIDE.png) }
.Twin-mp  .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/TwinBlinds_Mount_OUTSIDE.png) }
/* Twin */
/* Venetian */
.Venetian-cp .ginput_container select.gfield_select option[value="Left"] { background-image: url(images/form_icon/Venetian_Control_LEFT.png) }
.Venetian-cp .ginput_container select.gfield_select option[value="Right"] { background-image: url(images/form_icon/Venetian_Control_RIGHT.png) }
.Venetian-mp  .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/Venetian_Venetian.png) }
.Venetian-mp  .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/Venetian_Mount_INSIDE.png) }
.Venetian-mp  .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/Venetian_Mount_OUTSIDE.png) }
/* Venetian */
/* Vertical */
.Vertical-cp .ginput_container select.gfield_select option[value="Left"] { background-image: url(images/form_icon/Verticals_Control_LEFTpng.png) }
.Vertical-cp .ginput_container select.gfield_select option[value="Right"] { background-image: url(images/form_icon/Verticals_Control_RIGHT.png) }
.Vertical-os .ginput_container select.gfield_select option[value="Left|0"] { background-image: url(images/form_icon/Verticals_Stack_LEFT.png) }
.Vertical-os .ginput_container select.gfield_select option[value="Right|0"] { background-image: url(images/form_icon/Verticals_Stack_RIGHT.png) }
.Vertical-mp  .ginput_container select.gfield_select option[value="0"] { background-image: url(images/form_icon/Verticals_Verticals.png) }
.Vertical-mp  .ginput_container select.gfield_select option[value="Inside"] { background-image: url(images/form_icon/Verticals_Mount_INSIDE.png) }
.Vertical-mp  .ginput_container select.gfield_select option[value="Outside"] { background-image: url(images/form_icon/Verticals_Mount_OUTSIDE.png) }
