
.samples-page {
	padding: 2em 0;
	position: relative;
}

.samples-page.ajax-loading .ajax-loader {
	background: fixed #fff url(../images/ajax-loader.gif) center center no-repeat;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
}

.samples-page__title {
	color: #03b865;
	font-size: 22px;
	margin: .5em 0;
}

.samples-page__filters {
	margin: 2em 1em;
	overflow: hidden;
}
.samples-page__filters .filter {
	display: inline-block;
	margin: .5em 1em;
	vertical-align: top;
}

.samples-page__filters .filter__label {
	color: #1a221e;
	font-size: 11px;
	margin: 0 0 1em;
}
.samples-page__filters .filter__box select {
	border: 1px solid #c3c4c4;
	font-size: 11px;
	padding: 4px;
}

.samples-page__samples {
	margin: 2em -1%;
	overflow: hidden;
}
.samples-page__samples .sample {
	display: inline-block;
	margin: 1%;
	width: 18%;
	vertical-align: top;
}
.samples-page__samples .sample-box {
	background: #fff;
	border: 3px solid #e0e0e0;
	padding: 3px;
	position: relative;
}

.samples-page__samples .sample.ajax-loading .ajax-loader {
	background: #fff url(../images/ajax-loader.gif) center center no-repeat;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
}

@media (max-width: 948px) {
	.samples-page__samples .sample {
		width: 23%;
	}
}

@media (max-width: 748px) {
	.samples-page__samples .sample {
		width: 31%;
	}
}

@media (max-width: 548px) {
	.samples-page__samples .sample {
		width: 48%;
	}
}

@media (max-width: 248px) {
	.samples-page__samples .sample {
		width: 98%;
	}
}

.samples-page__samples .sample .picture {
	margin: 0 0 1.5em;
	padding-top: 100%;
	overflow: hidden;
}
.samples-page__samples .sample .picture img {
	display: block;
	height: auto;
	margin: -110% -10% -10%;
	max-width: 120%;
}
.samples-page__samples .sample .title {
	color: #67676d;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	margin: .5em;
	text-align: center;
}
.samples-page__samples .sample .subtitle {
	color: #67676d;
	font-size: 13px;
	line-height: 1;
	margin: .5em;
	text-align: center;
}
.samples-page__samples .sample .buttons {
	margin: 1.25em .5em 1em;
	text-align: center;
}
.samples-page__samples .sample .buttons .btn-select,
.samples-page__samples .sample .buttons .btn-remove {
	background: #03b865;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 4px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 88%;
}
.samples-page__samples .sample .buttons .btn-remove {
	background: #d01d1d;
	display: none;
}

.samples-page__samples .sample.sample-added .buttons .btn-select {
	display: none;
}

.samples-page__samples .sample.sample-added .buttons .btn-remove {
	display: inline-block;
}
